{{>/components/header}}

{{>/components/navbar}}
<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            {{#radioStation}}
                <h1 class="title">{{title}}</h1>
                {{#website}} <h2 class="subtitle"><a href="{{.}}" target="_blank">{{.}}</a></h2>{{/website}}
            {{/radioStation}}
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Streams</h2>
        {{#radioStationStreams}}
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead class="is-hidden-mobile">
                    <tr>
                        <th>Player</th>
                        <th>URL</th>
                        <th>Bit Rate</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <audio controls>
                                <source src="{{ url }}" type="audio/ogg">
                                <source src="{{ url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                        <td class="is-hidden-mobile">
                            <a href="{{url}}" title="Link to {{url}}" target="_blank">{{url}}</a>
                        </td>
                        <td class="is-hidden-mobile">{{bitRate}}</td>
                        <td class="is-hidden-mobile">{{type}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/radioStationStreams}}
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Played songs</h2>
        {{#radioStationSongs}}
            {{#hasContent}}
                <div class="table-container" id="radio-station-songs-table">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th class="is-hidden-mobile">Id</th>
                            <th>Title</th>
                            <th class="is-hidden-mobile">Played time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#content}}
                            <tr>
                                <td class="is-hidden-mobile">
                                    {{id}}
                                </td>
                                <td class="custom-title">
                                    <a href="/radio-stations/by-played-song/{{seoTitle}}/{{songId}}"
                                       title="Show all radio station by played song `{{title}}`">{{title}}</a>
                                </td>
                                <td class="is-hidden-mobile">{{playedTimeAsString}}</td>
                            </tr>
                        {{/content}}
                        </tbody>
                    </table>
                </div>
                {{#metadata.navigationPossible}}
                    <nav class="pagination is-rounded" role="navigation" aria-label="pagination"
                         style="padding-top: 20px">
                        {{#metadata.hasPrevious}}
                            <a href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}?page={{metadata.previousPage}}
                            "
                            class="pagination-previous">Previous</a>
                        {{/metadata.hasPrevious}}
                        {{^metadata.hasPrevious}}
                            <a class="pagination-previous" disabled>Previous</a>
                        {{/metadata.hasPrevious}}

                        {{#metadata.hasNext}}
                            <a href="/radio-stations/{{radioStation.seoTitle}}/{{radioStation.id}}?page={{metadata.nextPage}}
                            "
                            class="pagination-next">Next page</a>
                        {{/metadata.hasNext}}
                        {{^metadata.hasNext}}
                            <a class="pagination-next" disabled>Next page</a>
                        {{/metadata.hasNext}}
                    </nav>
                {{/metadata.navigationPossible}}
            {{/hasContent}}
            {{^hasContent}}
                <p class="has-text-centered">No last played songs found for radio station "{{radioStation.title}}"</p>
            {{/hasContent}}
        {{/radioStationSongs}}
    </div>
</section>

{{>/components/footer}}
