{{>/components/header}}

{{>/components/navbar}}

<section class="section">
    <div class="container">
        {{#radioStation}}
        <h1 class="title">{{title}}</h1>
        {{/radioStation}}
        <h2 class="title">Streams</h2>
    </div>
</section>

{{>/components/footer}}
