{{>/components/header}}

{{>/components/navbar}}

<section class="section">
    <div class="container">
        {{>/search/menu}}
        <h1 class="title">
            Search by song title "{{query}}"
        </h1>
        {{#foundSongs}}
            {{#songs}}
                <a href="/search/radio-station/by-played-song/{{id}}">
                    <div class="box" style="margin-bottom: 10px">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{title}}</strong>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>

            {{/songs}}
        {{/foundSongs}}
    </div>
</section>

{{>/components/footer}}
