{{>/components/header}}

{{>/components/navbar}}

{{>/components/main-start}}

<h1 class="title">
    Search by song {{query}}
</h1>
<p class="subtitle">
    Test
</p>

{{>/components/main-end}}

{{>/components/footer}}
