{{>/components/header}}

{{>/components/navbar}}

<section class="section">
    <div class="container">
        <h1 class="title">
            Radio stations played song "{{song.title}}"
        </h1>
        {{#radioStations}}
            {{#stations}}
                <a href="/radio-stations/{{id}}">
                    <div class="box" style="margin-bottom: 10px">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{title}}</strong>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            {{/stations}}
        {{/radioStations}}
    </div>
</section>

{{>/components/footer}}
