{{>/components/header}}

{{>/components/navbar}}

<section class="section">
    <div class="container">
        <h1 class="title">
            Radio stations played song "{{song.title}}"
        </h1>
        {{#radioStations}}
            {{#stations}}
                <a href="/radio-stations/{{id}}">
                    <div class="box" style="margin-bottom: 10px">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <strong>{{title}}</strong>
                                </div>
                            </div>
                        </article>
                    </div>
                </a>
            {{/stations}}

            <nav class="pagination is-rounded" role="navigation" aria-label="pagination" style="padding-top: 20px">
                {{#metadata.hasPrevious}}
                    <a href="/radio-stations/by-played-song/{{song.id}}?page={{metadata.previousPage}}"
                    class="pagination-previous is-pulled-left">Previous</a>
                {{/metadata.hasPrevious}}

                {{#metadata.hasNext}}
                    <a href="/radio-stations/by-played-song/{{song.id}}?page={{metadata.nextPage}}"
                    class="pagination-next is-pulled-right">Next page</a>
                {{/metadata.hasNext}}
            </nav>
        {{/radioStations}}
    </div>
</section>

{{>/components/footer}}
