<form action="/search/by-song" method="post">
    <span class="navbar-item">
        <input class="input" type="text" name="query" placeholder="Search for song in stations" required/>
        <button class="button is-primary">Search</button>
    </span>
</form>