{{>/components/header}}

{{>/components/navbar}}

{{>/components/main-start}}

<h1 class="title">
    Hello
</h1>
<p class="subtitle">
    My first website with <strong>Bulma</strong>!
</p>

{{>/components/main-end}}

{{>/components/footer}}
