{{>/components/header}}

{{>/components/navbar}}

<section class="section">
    <div class="container">
        <h1 class="title">Latest radio stations</h1>
        <div>
            {{#latestRadioStations}}
            <a href="/radio-stations/{{id}}">
                <div class="box" style="margin-bottom: 10px">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <strong>{{title}}</strong>{{#website}} - {{.}}{{/website}}
                            </div>
                        </div>
                    </article>
                </div>
            </a>
            {{/latestRadioStations}}
        </div>
    </div>
</section>

{{>/components/footer}}
