<div class="buttons">
    {{#submenu-search-by-song}}
        <a class="button" disabled>Search by song</a>
    {{/submenu-search-by-song}}
    {{^submenu-search-by-song}}
        <a href="/search/by-song/{{query}}"
           class="button is-success">Search by song
        </a>
    {{/submenu-search-by-song}}
    {{#submenu-search-by-radio-station}}
        <a class="button" disabled>Search by radio station</a>
    {{/submenu-search-by-radio-station}}
    {{^submenu-search-by-radio-station}}
        <a href="/search/by-radio-station/{{query}}"
           class="button is-success">Search by radio station
        </a>
    {{/submenu-search-by-radio-station}}
</div>